<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <title>دروس JavaScript - مسار</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/g.css') }}">
</head>
<body class="lessonss-page">
    <header class="main-header">
        <div class="nav-container">
            <a href="{{ url_for('track_detail', slug='web') }}" class="btn-modern3">رجوع</a>
            <a href="{{ url_for('profile') }}" class="btn-modern3">ملفي الشخصي</a>
           <a href="{{ url_for('library_pro') }}" class="btn-modern3">الذهاب إلى المكتبة</a>
        </div>
        <div class="logo-container">
            <a href="{{ url_for('index') }}" class="brand-name">Masar</a>
            <img src="{{ url_for('static', filename='image/lo.png') }}" alt="شعار" class="header-logo">
        </div>
    </header>

    <main class="course-container">
        <div class="text-center">
            <h1>JavaScript</h1>
           <iframe width="560" height="315" src="https://www.youtube.com/embed/2EAV2cB3FWY?si=xAi1-lDPwOL2yYtZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <h3>JavaScript</h3>
        </div>
        <hr>
        <aside class="video">
            <iframe width="120" height="120" src="https://www.youtube.com/embed/ClkIRKlmplY?si=x0fSnQL6R_ltBAoH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/XUreKLul1og?si=EsJYsrJSFtHuY-OZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/Sr04cTu5abY?si=ikxssYjPhFFAwhZr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/R16IMAWDGyg?si=CIMAB-1pW6T9g75C" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/XhM9px0OFkc?si=xkaWbT1J0cs5-YHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/GgqCm46vAL8?si=ZTLe8kVEURJdxWFC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/B-X4hrHtJ58?si=h43OhZjmnxCh50nH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/ZzEg_BSVN0A?si=6dfWFVL7Ym5KFRR2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/lRsvuBB8n80?si=UKTY0Lyqrwnq0F4j" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <iframe width="120" height="120" src="https://www.youtube.com/embed/SS-HnTEHkss?si=l73kxUzrVc0qg-7N" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </aside>
    </main>

    <div class="button-row">
        <a href="{{ url_for('exam', slug='js') }}" class="btn-modern">ابدأ الامتحان</a>
    </div>

    <div id="chat-icon" onclick="toggleChat()">💬</div>
    <div id="ai-chat-container">
        <div id="chat-header">بوت مسار الذكي</div>
        <div id="chat-output">أهلاً، أنا مساعدك الذكي. كيف يمكنني مساعدتك؟</div>
        <div id="chat-input-area">
            <input type="text" id="user-query" placeholder="اكتب سؤالك هنا...">
            <button id="send-btn">إرسال</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='JS/script.js') }}"></script>
</body>
</html>