<!DOCTYPE html>
<html dir="rtl" lang="ar">
<head>
    <meta charset="UTF-8">
    <title>تم الاشتراك بنجاح - مسار</title>
   <link rel="stylesheet" href="{{ url_for('static',filename='css/g.css')}}">
</head>
<body class="lessonss-page">
  <header class="main-header">
      <div class="nav-container">
    <a href="{{ url_for('payment') }}" class="btn-modern3">رجوع</a> 
    <a href="{{ url_for('profile') }}" class="btn-modern3">ملفي الشخصي</a> 
    <a href="{{ url_for('logout') }}" class="btn-modern3">تسجيل خروج</a>
    </div>
    <div class="logo-container">
   <a href="{{ url_for('index') }}" class="brand-name">Masar</a>
    <img src="{{ url_for('static', filename='image/lo.png') }}" alt="شعار" class='header-logo'>
    </header>
    <div>
        <h1 class="text-center">شكراً لك، تم الاشتراك بنجاح!</h1>
        <p class="text-center">الآن، جميع مميزات مسار في متناول يدك</p>
        <br><br>
        <div class="button-row">
            <div class="choices-container3">
            <div class="option-circle3">
            <a href="{{ url_for('library_pro') }}" class="btn-modern">الذهاب إلى المكتبة</a>
            </div>
            <div class="option-circle3">
            <a href="{{ url_for('cv_check') }}" class="btn-modern">فحص سيرتك الذاتية</a>
            </div>
            <div class="option-circle3">
            <a href="{{ url_for('videos') }}" class="btn-modern">المسارات</a>
           </div>
           </div>
            <div>
         <h1>استمتع برحلتك التعليمية</h1>
    </div>
      <div id="chat-icon" onclick="toggleChat()">💬</div>

 <div id="ai-chat-container">
    <div id="chat-header">بوت مسار الذكي</div>
    <div id="chat-output">أهلاً، أنا مساعدك الذكي. كيف يمكنني مساعدتك؟</div>
    <div id="chat-input-area">
        <input type="text" id="user-query" placeholder="اكتب سؤالك هنا...">
        <button id="send-btn">إرسال</button>
    </div>
</div>  
   <script src="{{ url_for('static',filename='JS/script.js')}}"></script>
</body>
</html>